<%= link_to t('helpers.select.back_to_top'), books_path %>
<%= link_to t('helpers.select.account_index'), users_path %>
<p><%= @user.username %>がフォローしているユーザー一覧</p>
<%= render 'table', users: @following %>
