<h1>
  <%= t('helpers.select.account_index', terms: "#{@user.username}のフォロワー") %>
</h1><br>
<%= link_to t('helpers.select.back_to', page: "トップページ"), root_path %>
<%= link_to t('helpers.select.back_to', page: "#{@user.username}のアカウントページ"), user_path(params[:user_id]) %>
<hr>
<%= render 'users/shared/table', users: @followers %>
