<h1>
  <%= t('helpers.select.add_item', item: "本の感想") %>
</h1>
<%= link_to t('helpers.select.back_to', page: "トップページ"), root_path %> |
<%= link_to t('helpers.select.account_info', username:""), current_user %>
<hr><br>
<%= render 'form', book: @book %>
