<h1><%= t('helpers.column.Edit_item', item: "レポート") %></h1>
<%= link_to t('helpers.select.back_to', page: "トップページ"), root_path %> |
<%= link_to t('helpers.select.Show'), @report %>
<hr><br>
<%= render 'form', report: @report %>
